$colorButton: #01acac;
$headerColorText: #ececec;
$colorTextButton: #fff;
$articleBackground: #efefef;
$borderColor: #607d8b;
$colorLabel: #0097a7;
$sizeTiltePost: 19px;
$colorTitlePost: #0097a7;
$color-description: #e90303;